h1{
color: black;
  letter-spacing: 6px
font-size: 50px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}
h4{
	margin-top:5%;
	color: black;
	
	font-size: 30px;
  text-align: center;
  font-family: 'Anton', sans-serif;

}
.navbar{
  padding:20px;
  font-size:30px;
  margin-bottom: 10%;
}
body{
  background-image: linear-gradient(to bottom,lightblue,orange);
background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

.image {
  width: 240px;
  height: 240px;
  margin:auto;
  overflow: hidden;
  border-radius: 50%;
  }

#link-container {
    text-align: center;
    margin-bottom: 10%;
}
#link {
	border-radius:20%;
    background: black;
    color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.dec{
	color: black;
    letter-spacing: 1px;
font-size: 25px;	
text-align: center;

}